.dialog-prefab-wrapper {
    width: 100%;
    /* background: linear-gradient(180deg, var(--dark-green), var(--darker-green)); */
    border-radius: 10px;
    position: relative;
    padding-top: 33px;
}

.dialog-outer-div .MuiPaper-root {
    border-radius: 10px;
    background-color: transparent;
}

.dialog-prefab-close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 100;
    transition: all 0.2s ease-in-out !important;
}

.dialog-prefab-close-icon:hover {
    scale: 1.1;
}

.dialog-prefab-background-div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
    background-color: rgb(19 52 38 / 85%);
    backdrop-filter: blur(3px);
}