* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Assistant', sans-serif;
    /* overflow-x: hidden; */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  
  :root {
    --top-bar-height: 75px;

    --common-font: 'Taviraj', serif;


    --light-yellow: #ffff16;
    --dark-yellow: #af8818;
    --light-green: #37a36e;
    --dark-green: #134b34;
    --purple: #241c3c;
  }

  @font-face {
    font-family: alloha;
    src: url('./Assets/fonts/alloha.regular.ttf');
  }
