.lobby-settings-main-div {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation: lobbySettings 0.3s ease-in-out;
}

.lobby-settings-join-url {
    color: white;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.lobby-settings-join-url :first-child {
    color: var(--light-yellow);
    font-size: 26px;
}

.lobby-settings-join-url :last-child {
    font-family: 'xerox';
}

.lobby-settings-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes lobbySettings {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}