.change-lobby-pass-main-div {
    color: white;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    animation: changeRoomPassContent 0.5s ease-in-out;
}

.change-lobby-pass-switch {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    margin: 20px 0;
}

.change-lobby-pass-switch > p {
    font-size: 22px;
}

.change-lobby-pass-title {
    font-size: 24px;
    text-align: center;
}

.change-lobby-pass-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

@keyframes changeRoomPassContent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}