.character-card-main-div {
    height: 300px;
    width: 15%;
    color: white;
    text-align: center;
    padding: 2px 5px;
    margin-top: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: lobby-character 0.5s ease-in-out;
}

.character-lobby-char-portrait {
    width: auto;
    height: 70%;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.character-lobby-char-portrait.selectable:hover {
    cursor: pointer;
    box-shadow: rgb(255 255 255) 0px 0px 10px 1px;
    filter: brightness(0.5);
}

.character-lobby-char-portrait.selectable:hover ~ .change-character-text {
    opacity: 1;
}

.char-lobby-card-player-name {
    font-size: 22px;
    font-family: xerox;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.change-character-text {
    opacity: 0;
    position: absolute;
    top: 90px;
    font-size: 24px;
    width: 140px;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

@keyframes lobby-character {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}