.textfield-main-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.password-textfield-main-div {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.textfield-label {
    color: var(--light-yellow);
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 20px;
    padding-left: 5px;
    text-transform: uppercase;
}

.textfield-input-input,
.password-input-input {
    width: 100%;
    height: 35px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
    background-color: var(--darker-green);
    border: none;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.5);
    border-radius: 10px;
    outline: none;
    color: var(--light-yellow);
    transition: box-shadow 0.2s ease-in-out;
    padding-left: 10px;
}

.password-input-input.error,
.textfield-input-input.error {
    border: 1px solid var(--light-red);
    box-shadow: 0px 0px 4px 0px var(--light-red);
}

.password-input-input:disabled,
.textfield-input-input:disabled {
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
}

.textfield-input-input.helper-text,
.password-input-input.helper-text {
    margin-bottom: 0;
}

.helper-text-p {
    color: var(--light-red);
    min-height: 20px;
    padding-left: 10px;
    margin-top: 2px;
}

.helper-text-action {
    height: 20px;
    color: white;
    cursor: pointer;
}

.helper-text-action:hover {
    text-decoration: underline;
}

.textarea-input-input {
    resize: none;
    padding-top: 5px;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
    border: none;
    background-color: white;
    outline: none;
    transition: all 0.3s ease-in-out;
    padding-left: 5px;
}

.show-pass-button {
    position: absolute;
    right: 10px;
    top: 24px;
    cursor: pointer;
}

.textfield-input-input:hover,
.password-input-input:hover,
.textarea-input-input:hover {
    /* box-shadow: 0px 0px 4px 0px white; */
    box-shadow: 2px 2px 4px 0px black;  
}

.textfield-input-input:focus-visible,
.password-input-input:focus-visible,
.textarea-input-input:focus-visible {
    box-shadow: 2px 2px 4px 0px black;
}