.top-bar-main-div {
    width: 100vw;
    right: 0;
    height: var(--top-bar-height);
    /* background: linear-gradient(270deg, black, var(--dark-green)); */
    background-color: transparent;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 25px;
    justify-content: space-between;
    z-index: 500;
    transition: background-color 0.5s ease-in-out;
}

.top-bar-main-div:hover {
    background-color: rgba(0,0,0,0.8); 
}

.top-panel-user-display {
    min-height: 40px;
    min-width: 158px;
    width: fit-content;
    justify-content: space-between;
    color: white;
    box-shadow: 0px 0px 0px 2px var(--dark-green);
    display: flex;
    align-items: center;
    padding-right: 15px;
    border-radius: 25px;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.top-panel-user-display > p {
    font-family: 'xerox';
    font-size: 18px;
    margin-top: 3px;
    text-transform: uppercase;
}

.top-panel-user-display:hover {
    box-shadow: 0px 0px 5px 5px var(--dark-green);
}

.top-bar-logo {
    height: 75px;
    width: auto;
}